<div data-role="header" data-theme="b">
	<h1>Users</h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->


<div data-role="content">
  <ul data-role="listview">
    <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%= link_to 'edit user', edit_user_path(user), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>


<div data-role="footer" class="ui-bar" data-theme="b">
<%= link_to 'New User', new_user_path %>
</div>
