<div data-role="header" data-theme="b">
	<h1>Eatvents</h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->

<div data-role="content">
  <ul data-role="listview">
    <% @eatvents.each do |eatvent| %>
    <li>
      <%= link_to (eatvent.hour.to_s + " @ " + eatvent.where ), eatvent %>
      <%= link_to 'edit eatvent', edit_eatvent_path(eatvent), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>

<div data-role="footer" class="ui-bar" data-theme="b">
<%= link_to 'New Eatvent', new_eatvent_path %>
</div>
