<h1>Home</h1>
<ul>
	
	<li><%= link_to "Create eatvent", neweatvent_path %></li>
	<li><%= link_to "See eatvents", eatvents_path %></li>
	<li><%= link_to "See users", users_path %></li>
	<li><%= link_to "See places", places_path %></li>


</ul>
