<div data-role="header" data-theme="b">
	<h1>Places</h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->

<div data-role="content">
  <ul data-role="listview">
    <% @places.each do |place| %>
    <li>
      <%= link_to place.name, place %>
      <%= link_to 'edit place', edit_place_path(place), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>

<div data-role="footer" class="ui-bar" data-theme="b">
	<%= link_to 'New Place', new_place_path %>
</div>