<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<%= stylesheet_link_tag 'application.css', :media => 'screen' %>


	<title>Go2e@T</title>

</head>
<body>

<%= yield %>

</body>
</html>
